h2 Login
form(method='post', action='/login')
  div 
    label Login
      input(name='username', type='text')
  div 
    label Password
      input(name='password', type='password')
  div
    input(type='submit', value='Login')