script(type = 'text/javascript', src = '/socket.io/socket.io.js')
script(type = 'text/javascript', src = '/scripts/libs/jquery-1.6.4.min.js')
script(type = 'text/javascript', src = '/scripts/libs/jquery.tmpl-1.0.0pre.js')
script(type = 'text/javascript', src = '/scripts/libs/knockout-1.3beta.min.js')
script(type = 'text/javascript', src = '/scripts/models/Card.js')
script(type = 'text/javascript', src = '/scripts/models/Deck.js')
script(type = 'text/javascript', src = '/scripts/models/Belote.js')
script(type = 'text/javascript', src = '/scripts/models/Message.js')
