h1 Bla

h2 Cards
div
  <!-- ko foreach: hand -->
  button(data-bind="click: $parent.play, enable: $parent.belote().canPlay()")
    span(data-bind="text: value.shortLabel")
    span(data-bind="text: family.shortLabel")
  <!-- /ko -->

<!-- ko if: belote().potentialTrick() -->

button(data-bind="with: belote, click: setTrick, enable: belote().canChooseTrick, visible: belote().canChooseTrick || belote().canChooseAnyTrick")
  span(data-bind="text: potentialTrick().value.shortLabel")
  span(data-bind="text: potentialTrick().family.shortLabel")

button(data-bind="click: pass, enable: belote().canChooseTrick() || belote().canChooseAnyTrick()") P

button(data-bind="click: pass, visible: belote().canChooseAnyTrick()") C
button(data-bind="click: pass, visible: belote().canChooseAnyTrick()") Ca
button(data-bind="click: pass, visible: belote().canChooseAnyTrick()") P
button(data-bind="click: pass, visible: belote().canChooseAnyTrick()") T

<!-- /ko -->

script(type = 'text/javascript', src = '/scripts/belote.js')

ul(data-bind="template: {name:'handTemplate', foreach: hand}")
script#handTemplate(type="text/x-jquery-tmpl")
  li ${id}
