!!!5
html(lang = 'en')
  head
    title = title
      link(rel = "stylesheet", type = "text/css", href =  "/stylesheets/stackoverflow.css")
      script(type = 'text/javascript', src = '/socket.io/socket.io.js')
      script(type = 'text/javascript', src =  '/scripts/mootools-core-1.4.0-full-nocompat.js')
      script(type = 'text/javascript'
src = '/scripts/belote.js')
    body!= body