!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title
      | c# - IsolationLevel.ReadUncommitted blocking Reading on different connection to
      | MSSQL 2008 - Stack Overflow
    link(rel='shortcut icon', href='http://cdn.sstatic.net/stackoverflow/img/favicon.ico')
    link(rel='apple-touch-icon', href='http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png')
    link(rel='stylesheet', type='text/css', href='/stylesheets/all.css')
    include included_files
  body!= body