!!!5
html(lang = 'en')
  head
    link(rel = "stylesheet", type = "text/css", href =  "/stylesheets/stackoverflow.css")
    script(type = 'text/javascript', src = '/socket.io/socket.io.js')
    script(type = 'text/javascript', src = '/scripts/jquery-1.6.4.min.js')
    script(type = 'text/javascript', src = '/scripts/jquery.tmpl-1.0.0pre.js')
    script(type = 'text/javascript', src = '/scripts/knockout-1.3beta.min.js')
  body!= body
